.error-message {
  color: #ffffff;
  font-family: "Roboto-Medium";
  font-size: 16px;
  margin-left: 25px;
  position: relative;
  top: 8px;
  opacity: 0;
}

.input-container__invalid .error-message {
  opacity: 1;
}

.input-container__invalid .cover__search_input {
  border: 2px solid #FF3333;
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .error-message {
    margin-left: 20px;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .error-message {
    margin-left: 12px;
  }
}
