.place-card__name {
  font-family: "Roboto Slab-Medium", "Arial", sans-serif;
  font-size: 26px;
  line-height: 30px;

  margin: 0;
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .place-card__name {
    font-size: 22px;
    line-height: 24px;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .place-card__name {
    font-size: 22px;
    line-height: 26px;
  }
}
