@import url(./__image/place-card__image.css);
@import url(./__description/place-card__description.css);
@import url(./__name/place-card__name.css);
@import url(./__des/place-card__des.css);
@import url(./__heading/place-card__heading.css);
@import url(./__data/place-card__data.css);

.place-card {
  width: 400px;
  background-color: #fff;
  border-radius: 16px;
  min-height: 288px;
}

.place-card:hover {
  box-shadow: 0 8px 58px rgba(8, 29, 45, 0.1);
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .place-card {
    width: 224px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .place-card {
    width: 288px;
  }
}
