.about-author__block-text {
  max-width: 600px;
  height: 144px;
  margin-left: 56px;
  margin-top: 131px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .about-author__block-text {
    max-width: 424px;
    height: 216px;
    margin-left: 32px;
    margin-top: 0;
  }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
  .about-author__block-text {
    max-width: 424px;
    height: 216px;
    margin-left: 32px;
    margin-top: 0;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .about-author__block-text {
    max-width: 288px;
    height: 336px;
    margin-left: 0;
    margin-top: 24px;
  }
}

