@import url(./__description/swiper-slide__description.css);
@import url(./__name/swiper-slide__name.css);
@import url(./__des/swiper-slide__des.css);
@import url(./__heading/swiper-slide__heading.css);
@import url(./__data/swiper-slide__data.css);
@import url(./__author/swiper-slide__author.css);
@import url(./__avatar/swiper-slide__avatar.css);
@import url(./__email/swiper-slide__email.css);

.swiper-slide {
  flex-shrink: 0;
  width: 400px;
  height: 288px;
  position: relative;
  transition-property: transform;
  background-color: #fff;
  border-radius: 16px;
}

.swiper-slide:hover {
  box-shadow: 0 8px 58px rgba(8, 29, 45, 0.1);
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .swiper-slide {
    width: 336px;
    height: 242px;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .swiper-slide {
    width: 288px;
    height: 264px;
    margin: 0;
  }
}
