.commit-card__avatar {
  width: 64px;
  height: 64px;
  border-radius: 1000px;

  background-image: url(../../../images/user1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: inline-block;
  opacity: 0.9;
  align-self: center;
  margin-right: 16px;
}

.commit-card__avatar_2 {
  width: 64px;
  height: 64px;
  border-radius: 1000px;

  background-image: url(../../../images/user2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: inline-block;
  opacity: 0.9;
  align-self: center;
  margin-right: 16px;
}

.commit-card__avatar_3 {
  width: 64px;
  height: 64px;
  border-radius: 1000px;

  background-image: url(../../../images/user3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: inline-block;
  opacity: 0.9;
  align-self: center;
  margin-right: 16px;
}
