@import url(./__title/tabel__title.css);
@import url(./__header/tabel__header.css);
@import url(./__kol-mentions/tabel__kol-mentions.css);
@import url(./__analytics/tabel__analytics.css);
@import url(./__days/tabel__days.css);
@import url(./__charts/tabel__charts.css);

.tabel {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f5f6f7;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .tabel {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .tabel {
    padding-top: 24px;
    padding-bottom: 38px;
  }
}
