.analytics-info__analiz {
  font-family: "Roboto-Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;

  margin: 0;
}

.analytics-info__analiz_bold-news {
  font-family: "Roboto-Medium", "Arial", sans-serif;
}

.analytics-info__analiz_bold-headlines {
  font-family: "Roboto-Medium", "Arial", sans-serif;
}
