@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/cover/cover.css);
@import url(./blocks/header/header.css);
@import url(./blocks/title-section/title-section.css);
@import url(./blocks/description-section/description-section.css);
@import url(./blocks/about-author/about-author.css);
@import url(./blocks/places-list/places-list.css);
@import url(./blocks/place-card/place-card.css);
@import url(./blocks/news/news.css);
@import url(./blocks/list-header/list-header.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/api-block/api-block.css);
@import url(./blocks/circle-preloader/circle-preloader.css);
@import url(./blocks/error-message/error-message.css);

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.display {
  display: block;
}
