.info__description {
  max-width: 356px;

  font-family: "Roboto-Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;

  color: #b6bcBf;
  text-align: center;
  margin: 100px auto 0 auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .info__description {
    max-width: 288px;
  }
}
